
# Database Connection supabase 
DATABASE_URL=
DIRECT_URL=

# Google OAuth Credentials
CLIENT_ID=
CLIENT_SECRET=

# Gmail API Key
API_KEY=

# Google OAuth Redirect URI
REDIRECT_URI=

# Connect with GROQ for LLM resource 
GROQ_API_KEY=

PORT=
JWT_SECRET=
NODE_ENV=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=
FRONTEND_URL=